body {
  background-color: black;
}

strong,
h1 {
  color: white;
}

h1 {
  margin: auto;
  width: 1em;
  margin-bottom: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-color: white;
  margin: auto;
  width: 37em;
}

.texts {
  display: flex;
  flex-direction: column;
  margin: 13px;
}

.slider {
  margin-right: 3em;
}

.row {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

#preview {
  background-color: black;
  width: 120px;
  height: 120px;
  margin-top: 1em;
  margin-left: 1.5em;
  border-style: dashed;
  border-color: white;
  border-radius: 0.5em;
  border-width: 2px;
}
